.feedback {
  text-transform: capitalize;
}

.feedback {
  text-decoration: none;
  /*display: inline-block;*/
  justify-content: space-between;
  width: 150px;
  padding: 12px 30px;
  margin: 10px 10px;
  border-radius: 10px;
  background-position: 100% 0;

  font-family: 'Arial', sans-serif;
  font-size: 24px;
  font-weight: 300;
  color: white;
  background-color: rgba(11, 119, 47, 0.6);
}

.feedback:hover {
  background-color: rgba(18, 32, 224, 0.8);
}