.title {
  font-family: 'Arial', serif;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1px;
  width: 900px;
  color: rgb(36, 36, 36, 0.83);
  border-radius: 5px;
  margin: 20px auto;
  padding: 15px;
}